p {
    color: red;
	font-size: 20px;

    letter-spacing: 0.5em;
    word-spacing: 0.5em;
    line-height: 2;
    text-align: left;
}


a {
     text-decoration: none;
}
body {
    font-size: 14px;
    color: rgb(255, 255, 255);
	  background-color: rgb(100, 100, 100);
}
h1 {
    color: #ffc;
    background-color: #009;
	 font-size: 4em;
	 text-align: center;
}
h2 {
 background-color: #009;
    margin: 20px;
    padding: 40px;
	 border-style: dotted;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
	}