p {
    font: 14px/1.5 "Times New Roman", times, serif;
    padding: 30px 10px;
    border: 1px black solid;
    border-width: 1px 5px 5px 1px;
    border-color: red green blue yellow;
    margin: 10px 50px;
}


a {
     text-decoration: none;
}
#navigation a {
    display: block;
    padding: 20px 10px;
}


	  body {
color: rgb(255, 255, 255);
    background: rgb(100, 100, 100); 
url(http://www.htmldog.com/images/bg.gif) no-repeat top right;

}
h1 {
    color: #ffc;
    background-color: #009;
	 font-size: 4em;
	 text-align: center;
}
h2 {
 background-color: #009;
    margin: 20px;
    padding: 40px;
	 border-style: dotted;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
	}